@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}
.App {
  background-color: #c9c9c9;
  width: 960px;
  margin: 0 auto;
}
#wrap {
  padding: 2em;
}
#main_header {
  position: relative;
  height: 100px;
}
#top_menu {
  position: absolute;
  top: 0;
  right: 0;
}
#top_menu > ul {
  overflow: hidden;
}
#top_menu > ul > li {
  list-style: none;
  display: inline-block;
  margin: 0 1em;
  background-color: #333;
  padding: 0.3rem 1rem;
}
#top_menu > ul > li > label {
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
}
#dayList {
  display: none;
}
#dayList + #bottom_menu {
  display: none;
}
#dayList:checked + #bottom_menu {
  display: block;
}
#top_menu > ul > li > a {
  color: #fff;
  font-size: 2rem;
}
#bottom_menu {
  position: absolute;
  top: 3.5em;
  right: 3.5em;
}
#bottom_menu > ul {
  overflow: hidden;
}
#bottom_menu > ul > li {
  list-style: none;
  display: inline-block;
  margin: 0 1em;
  background-color: #333;
  padding: 0.3rem 1rem;
}
#bottom_menu > ul > li > a {
  color: #fff;
  font-size: 2rem;
}
#main_content {
  min-height: 490px;
}
#slider {
  width: 300px;
  height: 300px;
  overflow: hidden;
}
#slider > div {
}
#slider > div > div {
  float: left;
}
#slider > div > div:nth-child(n) {
  background-color: red;
}
#slider > div > div:nth-child(2n) {
  background-color: blue;
}
#slider > div > div:nth-child(3n) {
  background-color: yellow;
}
#slider > div > div:nth-child(4n) {
  background-color: brown;
}
#slider > div > div {
  width: 300px;
  height: 300px;
}

#main_footer {
  text-align: center;
}

#table {
  width: 100%;
  border: 1px solid;
}
#table > td {
  text-align: center;
}
